{{define "title"}}About{{end}}

{{define "main"}}
    <h1>About</h1>
    <h3>Omar ElKhatib</h3>
    <div  style="display: flex; background-color: aliceblue;"/>
        <img width="350px" src="/static/images/me.jpg" />
        <p style="padding-left: 10px; ">
            Self-taught from 12 years old and going on, pragmatic software engineer who is eager to learn more and more about this amazing Universe. And always happy to develop my skills in different areas in the cycle of software creation to ensure that the users have the best experience.
            <br />
            Currently working as software engineer at: <a target="_blank" href="https://finkitsolutions.com/">finkit solutions</a>
            <br/>
            <br/>
            <br/>
            <br>
            <a target="_blank" href="https://www.linkedin.com/in/elkhatibomar/">LinkedIn</a>
            <a target="_blank" href="https://codeberg.org/omarkhatib">Codeberg</a>
            <a target="_blank" href="https://github.com/khatibomar">Github</a>
            <a target="_blank" href="https://dev.to/omarkhatib">Dev.to</a>
            
            <br><br>
            <a href="tel:+96176755278">+961 76 755 278</a>
            <br><br>
            <a href="mail:elkhatibomar@outlook.com">elkhatibomar@outlook.com</a>
        </p>
    </div>
{{end}}