{{define "title"}}Readings{{end}}

{{define "main"}}
    <h1>Readings</h1>
    <h2>Currently reading</h2>
    <div class="cards-container">
        <div class="card">
            <div class="card-img">
                <a target="_blank" href="https://theartofpostgresql.com/">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1348552520l/7959038.jpg"/>
                </a>
            </div>
        </div>
    </div>

    <h2>Done</h2>
    <div class="cards-container">
        <div class="card">
            <div class="card-img">
                <a target="_blank" href="https://theartofpostgresql.com/">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1567060454l/52755483._SX318_SY475_.jpg"/>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <a target="_blank" href="https://theartofpostgresql.com/">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1415816873l/23463279.jpg"/>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <a target="_blank" href="https://theartofpostgresql.com/">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1588107003l/53291342._SX318_.jpg"/>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <a target="_blank" href="https://theartofpostgresql.com/">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1612684599l/56977420._SX318_.jpg"/>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <a target="_blank" href="https://theartofpostgresql.com/">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1328765022l/1069827.jpg"/>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <a target="_blank" href="https://theartofpostgresql.com/">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1603114562l/55608536._SY475_.jpg"/>
                </a>
            </div>
        </div>
    </div>
        
    <h2>Want to read</h2>
    <div class="cards-container">
        <div class="card">
            <div class="card-img">
                <a target="_blank" href="https://theartofpostgresql.com/">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1344467528l/6076366.jpg"/>
                </a>
            </div>
        </div>
    </div>
{{end}}