:root{
    --maincolor: #F199F0;
    --bordercl:rebeccapurple;
    --callouctcolor:dodgerblue;
    --hovercolor:navy;
    --darkMaincolor: #50fa7b;
}

html {
    color: #232333;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    line-height: 1.6em;
}

body {
    display: block;
    margin: 8px;
}

.content {
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 0 1ch;
    word-wrap: break-word;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1em 0;
    border-bottom: 1px dotted #fbbbfa;
}

a {
    border-bottom: 3px solid var(--maincolor);
    color: inherit;
    text-decoration: none;
}

a:hover {
    background-color: var(--hovercolor);
    color: #fff;
}

footer {
    border-top: 1px dotted var(--maincolor);
    padding: 10px;
    text-align: center;
}

h1::before {
    color: var(--maincolor);
    content: '# ';
}

h2::before {
    color: var(--maincolor);
    content: '## ';
}

h3::before {
    color: var(--maincolor);
    content: '### ';
}

.cards-container {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px dashed black;
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin-left: 8px;
    width: 150px;
    background-color: antiquewhite;
}

.card a {
    border: none;
}

.card p {
    text-align: center;
}

.card img {
    width: 150px;
    height: 220.7px;
}

.project {
    border: 1px solid black;
    margin-bottom: 5px;
    padding: 10px;
    background-color: aliceblue;
}