{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Umaru</title>

        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        <div class="content">
            <header>
                <div class="main">
                    <a href="/">Umaru</a>
                </div>
                {{template "nav" .}}
            </header>
            <main>
                {{template "main" .}}
            </main>
            <footer>Omar El Khatib - {{.Year}}</a></footer>
        </div>
    </body>
</html>
{{end}}