<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Home - Umaru</title>

        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        <div class="content">
            <header>
                <div class="main">
                    <a href="/">Umaru</a>
                </div>
                <nav>
                    <a href="/">Home</a>
                    <a href="/">Reading list</a>
                    <a href="/">Talks</a>
                    <a href="/">Quotes</a>
                    <a href="/">Snippets</a>
                    <a href="#">About</a>
                </nav>
            </header>
            <main>
                <h1>Bla bla</h1>
                <img src="https://media.tenor.com/nDEtUc0xq0MAAAAC/kanna.gif"/>
                <p>Hello this is kanna!</p>
            </main>
            <footer>Kanna - {{.Year}}</a></footer>
        </div>
    </body>
</html>